@{
    Layout = "_AjaxLayout.cshtml";
    Page.Title = "ajax_GetCharacterSheet.cshtml";

    var db = Database.Open("GenericDataConnString");

    var sqlStats = "";
    var sqlPowers = "";
    if (Request["character_id"] != "-1")
    {
    }

select s.name
     , s.base_value
     , case
       WHEN cs.value IS NULL THEN s.base_value
       ELSE cs.value
       END value
from arena.stats s
     left join arena.character_battle_stats cs
        on s.name = cs.name
        and cs.character_id = 1
order by sort_idx
    

    sqlStats = "SELECT * FROM arena.characters WHERE character_id = " + Request["character_id"];
    sqlPowers = "SELECT * FROM arena.character_powers WHERE character_id = " + Request["character_id"];

    var rsCharacterStats = db.Query(sqlStats);
    var rsCharacterPowers = db.Query(sqlPowers);

    Response.Write("{");
    Response.Write("'character_id':" + );


    foreach (var row in rsReport)
    {

    }

    Response.Write("}");
}

                @rsCharacterStats.ElementAt(0).STR

<table border="1">
<tr>
    <td>
        <table border="1">
        @{
            if (Request["mode"] == "edit")
            {
                <tr><td>STR</td><td><input type="text" id="txt_STR" value="@rsCharacterStats.ElementAt(0).STR"></td></tr>
                <tr><td>DEX</td><td><input type="text" id="txt_DEX" value="@rsCharacterStats.ElementAt(0).DEX"></td></tr>
                <tr><td>CON</td><td><input type="text" id="txt_CON" value="@rsCharacterStats.ElementAt(0).CON"></td></tr>
                <tr><td>BODY</td><td><input type="text" id="txt_BODY" value="@rsCharacterStats.ElementAt(0).BODY"></td></tr>
                <tr><td>INT</td><td><input type="text" id="txt_INT" value="@rsCharacterStats.ElementAt(0).INT"></td></tr>
                <tr><td>EGO</td><td><input type="text" id="txt_EGO" value="@rsCharacterStats.ElementAt(0).EGO"></td></tr>
                <tr><td>PRE</td><td><input type="text" id="txt_PRE" value="@rsCharacterStats.ElementAt(0).PRE"></td></tr>
                <tr><td>COM</td><td><input type="text" id="txt_COM" value="@rsCharacterStats.ElementAt(0).COM"></td></tr>
                <tr><td>PD</td><td><input type="text" id="txt_PD" value="@rsCharacterStats.ElementAt(0).PD"></td></tr>
                <tr><td>ED</td><td><input type="text" id="txt_ED" value="@rsCharacterStats.ElementAt(0).ED"></td></tr>
                <tr><td>SPD</td><td><input type="text" id="txt_SPD" value="@rsCharacterStats.ElementAt(0).SPD"></td></tr>
                <tr><td>REC</td><td><input type="text" id="txt_REC" value="@rsCharacterStats.ElementAt(0).REC"></td></tr>
                <tr><td>END</td><td><input type="text" id="txt_END" value="@rsCharacterStats.ElementAt(0).END"></td></tr>
                <tr><td>STUN</td><td><input type="text" id="txt_STUN" value="@rsCharacterStats.ElementAt(0).STUN"></td></tr>
            }
            else
            {
                <tr><td>STR</td><td>@rsCharacterStats.ElementAt(0).STR</td></tr>
                <tr><td>DEX</td><td>@rsCharacterStats.ElementAt(0).DEX</td></tr>
                <tr><td>CON</td><td>@rsCharacterStats.ElementAt(0).CON</td></tr>
                <tr><td>BODY</td><td>@rsCharacterStats.ElementAt(0).BODY</td></tr>
                <tr><td>INT</td><td>@rsCharacterStats.ElementAt(0).INT</td></tr>
                <tr><td>EGO</td><td>@rsCharacterStats.ElementAt(0).EGO</td></tr>
                <tr><td>PRE</td><td>@rsCharacterStats.ElementAt(0).PRE</td></tr>
                <tr><td>COM</td><td>@rsCharacterStats.ElementAt(0).COM</td></tr>
                <tr><td>PD</td><td>@rsCharacterStats.ElementAt(0).PD</td></tr>
                <tr><td>ED</td><td>@rsCharacterStats.ElementAt(0).ED</td></tr>
                <tr><td>SPD</td><td>@rsCharacterStats.ElementAt(0).SPD</td></tr>
                <tr><td>REC</td><td>@rsCharacterStats.ElementAt(0).REC</td></tr>
                <tr><td>END</td><td>@rsCharacterStats.ElementAt(0).END</td></tr>
                <tr><td>STUN</td><td>@rsCharacterStats.ElementAt(0).STUN</td></tr>
            }
        }
        </table>
    </td>
    <td>
                <a href="UploadCharImageFile.aspx?character_id=@Request["character_id"]">Add File</a>
 FileUpload.GetHtml(initialNumberOfFiles:1, allowMoreFilesToBeAdded:false, includeFormTag:true, uploadText:"Upload")
<input type="file" value="file1">
|@rsCharacterStats.ElementAt(0).image_file|
    @{
        if (Request["mode"] == "edit")
        {
            if (rsCharacterStats.ElementAt(0).image_file == "")
            {
                <a href="UploadCharImageFile.aspx?character_id=@Request["character_id"]">Add File</a>               
            }
            else
            {
                <img alt="value" src="char_images/@rsCharacterStats.ElementAt(0).image_file" onclick="UploadCharImageFile.aspx?character_id=@Request["character_id"]">
            }
        }
        else
        {
            if (rsCharacterStats.ElementAt(0).image_file == "")
            {
                <b>no image file found</b>
            }
            else
            {
                <img alt="value" src="char_images/@rsCharacterStats.ElementAt(0).image_file">
            }
        }
    }
    </td>
</tr>
<tr>
   <td>Points</td>
   <td>Power</td>
   <td>End</td>
   <td>Roll</td>
</tr>
@{
   foreach (var row in rsCharacterPowers)
   {
      <tr>
         <td><input type="text" id="txt_points_@row.pk" value="@row.points"></td>
         <td><input type="text" id="txt_power_@row.pk" value="@row.power"></td>
         <td><input type="text" id="txt_end_@row.pk" value="@row.end"></td>
         <td><input type="text" id="txt_roll_@row.pk" value="@row.roll"></td>
      </tr>
   }
}
</table>
